body {
    background-color: #1a1a1b;
    color: #d7dadc;
  }
  
  .btn-primary {
    background-color: #ff4500;
    border-color: #ff4500;
  }
  
  .btn-primary:hover {
    background-color: #ff5700;
    border-color: #ff5700;
  }
  
  .btn-info {
    background-color: #0079d3;
    border-color: #0079d3;
  }
  
  .btn-info:hover {
    background-color: #1484d6;
    border-color: #1484d6;
  }
  
  .card {
    border-color: #343536;
  }
  
  .card-title {
    color: #d7dadc;
  }
  
  .card-text {
    color: #d7dadc;
  }
  